<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700|Cabin' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% javascript home %}
{% stylesheet home %}
{% stylesheet styles %}
{% stylesheet vendor/jquery.bxslider/jquery.bxslider %}
{% javascript vendor/jquery.bxslider/jquery.bxslider %}

<!-- twitter tags -->


<!-- facebook tags -->

<meta property="og:url" content="http://forcedtoflee.com"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="When Great Minds Don’t Think Alike" />
<meta property="og:description" content="How much does culture influence creative thinking?" />
<meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />


<meta property="og:url" content="https://vimeo.com/138345045"/>
<meta property="og:video:secure_url"/>
<meta property="og:type" content="video"/>
<meta property="og:title" content="Refugee 101" />
<meta property="og:description" content="The refugee crisis is real, here are the facts." />
<!-- <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" /> -->

