<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700|Cabin' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% javascript home %}
{% stylesheet home %}
{% stylesheet styles %}
{% stylesheet vendor/jquery.bxslider/jquery.bxslider %}
{% javascript vendor/jquery.bxslider/jquery.bxslider %}

<!-- twitter tags -->


<!-- facebook tags -->

<meta property="og:url" content="http://forcedtoflee.com"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="The Refugee Crisis is real" />
<meta property="og:description" content="The refugee crisis is real: here are the facts" />
<meta property="og:image" content="http://forcedtoflee.com/images/forcedtofleethumb.jpg" />

